<h1>Welcome to the com log demo</h1>
<p>This is a quick prototype I built out, equipment represents any type of equipment, and error reports can be generated for that equipment.</p>
<%= link_to  "Equipment Index", equipment_index_path, :class => 'btn btn-primary'  %>
<% if user_signed_in? %>
<%= link_to  "Log Index", error_reports_path, :class => 'btn btn-danger' %>
<% end %>
